### Code : Square Pattern

Print the following pattern for the given N number of rows.

Pattern for N =4

            4444
            4444
            4444
            4444

Input format :
Integer N (Total no. of rows)

Output format :
Pattern in N lines

Constraints
0 <= N <= 50

Sample Input 1:     7
Sample Output 1:
                    7777777
                    7777777
                    7777777
                    7777777
                    7777777
                    7777777
                    7777777

Sample Input 1:     6
Sample Output 1:
                    666666
                    666666
                    666666
                    666666
                    666666
                    666666

In [ ]:
## Read input as specified in the question
## Print the required output in given format
n = int(input())

for i in range(n):
    for i in range(n):
        print(n, end = '')
    print()

### Code : Triangular Star Pattern

Send Feedback
Print the following pattern for the given N number of rows.
Pattern for N = 4
*
**
***
****
Note : There are no spaces between the stars (*).
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 50
Sample Input 1:
5
Sample Output 1:
*
**
***
****
*****
Sample Input 2:
6
Sample Output 2:
*
**
***
****
*****
******

In [ ]:
n = int(input())

for i in range(n):
    for j in range(i+1):
        print('*',end='')
    print()

### Code : Triangle Number Pattern

Send Feedback
Print the following pattern for the given N number of rows.
Pattern for N = 4
1
22
333
4444
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 50
Sample Input 1:
5
Sample Output 1:
1
22
333
4444
55555
Sample Input 2:
6
Sample Output 2:
1
22
333
4444
55555
666666

In [ ]:
## Read input as specified in the question
## Print the required output in given format
n = int(input())

for i in range(n):
    for j in range(i+1):
        print(i+1,end='')
    print()

### Code : Reverse Number Pattern

Send Feedback
Print the following pattern for the given N number of rows.
Pattern for N = 4
1
21
321
4321
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 50
Sample Input 1:
5
Sample Output 1:
1
21
321
4321
54321
Sample Input 2:
6
Sample Output 2:
1
21
321
4321
54321
654321

In [ ]:
## Read input as specified in the question
## Print the required output in given format
n = int(input())

for i in range(n):
    printed_num = i+1
    for j in range(i+1):
        print(printed_num,end='')
        printed_num = printed_num - 1
    print()

### Code : Character Pattern

Send Feedback
Print the following pattern for the given N number of rows.
Pattern for N = 4
A
BC
CDE
DEFG
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 13
Sample Input 1:
5
Sample Output 1:
A
BC
CDE
DEFG
EFGHI
Sample Input 2:
6
Sample Output 2:
A
BC
CDE
DEFG
EFGHI
FGHIJK

In [ ]:
## Read input as specified in the question
## Print the required output in given format
n = int(input())
base_no = ord('A')  #65=A

for i in range(n):
    start_char = base_no + i
    for j in range(i+1):
        print(chr(start_char),end = '')
        start_char = start_char + 1
    print()

### Code : Interesting Alphabets

In [ ]:
Send Feedback
Print the following pattern for the given number of rows.
Pattern for N = 5
E
DE
CDE
BCDE
ABCDE
Input format :
N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 26
Sample Input 1:
8
Sample Output 1:
H
GH
FGH
EFGH
DEFGH
CDEFGH
BCDEFGH
ABCDEFGH
Sample Input 2:
7
Sample Output 2:
G
FG
EFG
DEFG
CDEFG
BCDEFG
ABCDEFG

In [ ]:
## Read input as specified in the question.
## Print output as specified in the question.

n = int(input())
base_no = ord('A') - 1  #65=A

for i in range(n):
    start_char = base_no + (n-i)
    for j in range(i+1):
        print(chr(start_char),end = '')
        start_char = start_char + 1
    print()

### Number Pattern 1

Print the following pattern for the given N number of rows.
Pattern for N = 4
1
11
111
1111
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Sample Input :
5
Sample Output :
1
11
111
1111
11111

In [ ]:
## Read input as specified in the question.
## Print output as specified in the question.

n = int(input())

for i in range(n):
    for j in range(i+1):
        print('1',end='')
    print()

### Number Pattern 2

In [ ]:
Send Feedback
Print the following pattern for the given N number of rows.
Pattern for N = 4
1
11
202
3003
Input format :
Integer N (Total no. of rows)
Contraints:
1 <= n <= 50
Output format :
Pattern in N lines
Sample Input :
5
Sample Output :
1
11
202
3003
40004

In [ ]:
## Read input as specified in the question.
## Print output as specified in the question.
n = int(input())

for i in range(n):
    if i == 0 :
        print(i+1)
        continue
    
    j = 0
    while j <= i :
        if j==0 or j == i:
            print(i,end ='')
        else:
            print(0,end = '')
        j = j + 1
    print()

### Number Pattern 3

Print the following pattern for the given N number of rows.

Pattern for N = 4
1
11
121
1221

Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines

Sample Input :
5
Sample Output :
1
11
121
1221
12221

In [1]:
## Read input as specified in the question.
## Print output as specified in the question.

n = int(input())

for i in range(n):
    j = 0
    while j <= i :
        if j==0 or j == i:
            print(1,end ='')
        else:
            print(2,end = '')
        j = j + 1
    print()

3
1
11
121

### Number Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 4
1234
123
12
1

Input format :
Integer N (Total no. of rows)
Output format :

Pattern in N lines

Sample Input :
5
Sample Output :
12345
1234
123
12
1

In [2]:
## Read input as specified in the question.
## Print output as specified in the question.
n = int(input())

for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end='')
    print()

23
1234567891011121314151617181920212223
12345678910111213141516171819202122
123456789101112131415161718192021
1234567891011121314151617181920
12345678910111213141516171819
123456789101112131415161718
1234567891011121314151617
12345678910111213141516
123456789101112131415
1234567891011121314
12345678910111213
123456789101112
1234567891011
12345678910
123456789
12345678
1234567
123456
12345
1234
123
12
1

### Alpha Pattern

Print the following pattern for the given N number of rows.

Pattern for N =  3
                 A
                 BB
                 CCC

Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines

Constraints
0 <= N <= 26

Sample Input 1:     7
Sample Output 1:
                    A
                    BB
                    CCC
                    DDDD
                    EEEEE
                    FFFFFF
                    GGGGGGG

Sample Input 2:     6
Sample Output 2:
                    A
                    BB
                    CCC
                    DDDD
                    EEEEE
                    FFFFFF

In [ ]:
## Read input as specified in the question.
## Print output as specified in the question.
n = int(input())
base_no = ord('A')
for i in range(n):
    print_no = base_no + i
    for j in range(i+1):
        print(chr(print_no),end='')
    print()

In [ ]:
****
***
**
*

In [11]:
n = int(input())

row = 1
while row <= n:
    col = 1 
    while col <= (n-row+1) : 
        print('*',end = '')
        col = col + 1 
    row = row + 1
    print()

3
***
**
*

In [ ]:
    *
   **
  ***
 ****
*****

In [26]:
n = int(input())

row = 1 

while row <=  n:
    # 1 -> 4, 2 -> 3 , 3 -> 2 ,... 5->0
    spaceCount = 1
    while spaceCount <= (n - row):
        print(' ',end = '')
        spaceCount += 1
        
    starCount = 1
    while starCount <= row:
        print('*',end = '')
        starCount += 1
    row = row + 1
    print()

5
    *
   **
  ***
 ****
*****

In [ ]:
   1
  121
 12321
1234321

In [ ]:
To make it simple lets try to print:
   1
  12
 123
1234

In [27]:
n = int(input())

row = 1 
while row <= n:
    spaceCount = 1
    while spaceCount <= (n-row):
        print(' ',end = '')
        spaceCount += 1
    
    number = 1
    while number <= row:
        print(number, end = '')
        number += 1
    row += 1 
    print()

4
   1
  12
 123
1234

Now coming back to our original problem :
    
   1
  121
 12321
1234321 

The only change is add few more print for earch row

In [2]:
n = int(input())

row = 1 
while row <= n:
    spaceCount = 1
    while spaceCount <= (n-row):
        print(' ',end = '')
        spaceCount += 1
    
    number = 1
    while number <= row:
        print(number, end = '')
        number += 1
        
    revNum = row-1  #row 2 starts with 1 , row 3 starts 2 ...so on so forth ...
    while revNum > 0:
        print(revNum, end = '')
        revNum -= 1
    row += 1 
    print()

6
     1
    121
   12321
  1234321
 123454321
12345654321

### Pattern - 6

In [ ]:

    1
   232
  34543
 4567654
567898765

In [ ]:
n = 5 
number of rows = 5
number of cols : row 1 spaces = 4 printing : 1
                 row 2 spaces = 3 printing : 23  2
                 row 3 spaces = 2 printing : 345 43

In [11]:
n = int(input())

for i in range(1,n+1):
    
    
    for j in range(1,n-i+1):
        print(' ',end = '')
        
    
    starting_num = i
    for k in range(1,i+1):
        print(starting_num,end = '')
        starting_num += 1

    starting_num -= 2
    for l in range(1,i):
        print(starting_num,end = '')
        starting_num -= 1
    
    print()

5
    1
   232
  34543
 4567654
567898765